<a href="https://colab.research.google.com/github/lokeshparab/Python-Notes/blob/main/Python_Basic_Datatypes_Interger.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**DATATYPES**


<ol type="1">

  <li><b>Numberic</b></li>

  <ol type="i">
  <li><b><a href="https://colab.research.google.com/github/lokeshparab/Python-Notes/blob/main/Python_Basic_Datatypes_Interger.ipynb">Integer</a></b></li>
  <li><b>Complex Number</b></li>
  <li><b><a href="https://colab.research.google.com/github/lokeshparab/Python-Notes/blob/main/Python_Basic_Datatypes_Float.ipynb">Float</a></b></li>
  </ol>

  <li><b>Dictionary</b></li>

  <li><b>Boolean</b></li>

  <li><b>Set</b></li>

  <li><b>Sequence Type</b></li>

  <ol type="i">
  <li><b>Strings</b></li>
  <li><b>List</b></li>
  <li><b>Tuple</b></li>
  </ol>




![alt text](https://media.geeksforgeeks.org/wp-content/uploads/20191023173512/Python-data-structure.jpg)

#**Numeric**

##**INTEGER (int)**

* *Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.*

* *For example: 1, 99 , -22 , 0*


###**type()**
This function return the datatype of object when you pass argument
<hr>

*Syntax:*
```python
type(69)              #return int
type(69.69)           #return float
type( [69,420] )      #return list
type( (69,420) )      #return tuple
```
<hr>

**See below example to see datatype of number**

In [ ]:
type(1)

int

In [ ]:
type(99)

int

In [ ]:
type(-22)

int

In [ ]:
type(0)

int

In [ ]:
# writing integer inside curly brace '()' is also integer
print( (45) )

x =  (45)
print(x)

type( (45 ) )

45
45

int

###**Number System**
*In **python** integer can be also be represent in:*

1. **Binary**

  *A number having <b>0b</b> as prefix with combination of 0 and 1 represent the <u>binary numbers</u>*
  
  * *A binary integer takes the form:*

         [sign] ['0b' / '0B'] binary_integer 

  * Syntax:
```python
>>> b=0b01101101
>>> b
109
>>> b=0B01101101
>>> b
109
>>> b=0b_0110_1101
>>> b
109
>>> b=0B_0110_1101
>>> b
109
```
---
2. **Octal**

  *A number having **0o** or **0O** as prefix with combination of from 0 to 7  represents an <u>octal number</u>*

  * *A octal integer takes the form:*

         [sign] ['0o'/ '0O'] octal_integer

  * Syntax:
```python
>>> x=0o12
>>> x
10
>>> x=0O12
>>> x
10
>>> x=0o_0172_3654
>>> x
501676
>>> x=0O_0172_3654
>>> x
501676
```
---
3. **Hexadecimal**

  *A number having **0x** or **0X** as prefix with combination of from 0 to 9 and then A-10 to F-15  represents an <u>hexadecimal number</u>*

  * *A hexadecimal integer takes the form:*

         [sign] ['0x' / '0X' ] hexadecimal_integer
 * *Syntax:*
```python
>>> x=0x12
>>> x
18
>>> x=0X12
>>> x
18
>>> x=0x_0A28_D3F9
>>> x
170447865
>>> x=0X_0A28_D3F9
>>> x
170447865
```
---
**Check out below example**

In [ ]:
# Binary

b  = 0b01101101
B  = 0B01101101

b_  = 0b_0110_1101
B_  = 0B_0110_1101

print( b, B, b_ , B_ ) # return same output as "109"

x1 = type(b)
x2 = type(B)
x3 = type(b_)
x4 = type(B_)

print( x1, x2, x3, x4 ) # return same output as "<class 'int'>"

109 109 109 109
<class 'int'> <class 'int'> <class 'int'> <class 'int'>

In [ ]:
#Octal

o  = 0o01723654
O  = 0O01723654

o_  = 0o_0172_3654
O_  = 0O_0172_3654

print( o, O, o_ , O_ ) # return same output as "501676"

x1 = type(o)
x2 = type(O)
x3 = type(o_)
x4 = type(O_)

print( x1, x2, x3, x4 ) # return same output as "<class 'int'>"

501676 501676 501676 501676
<class 'int'> <class 'int'> <class 'int'> <class 'int'>

In [ ]:
#Hexadecimal

x  = 0x0A28D3F9
X  = 0X0A28D3F9

x_  = 0x_0A28_D3F9
X_  = 0X_0A28_D3F9

print( x, X, x_ , X_ ) # return same output as "170447865"

x1 = type(x)
x2 = type(X)
x3 = type(x_)
x4 = type(X_)

print( x1, x2, x3, x4 ) # return same output as "<class 'int'>"

170447865 170447865 170447865 170447865
<class 'int'> <class 'int'> <class 'int'> <class 'int'>

In [ ]:
x = 0x_00_01_1_111_00
x

17895680

In [ ]:
hex(17895680)

'0x1111100'

###**Inbuilt function**

####**bin(), oct(), hex() function**



* **bin(int_no)**

*This function takes an integer and returns the binary representation in a string format.*

---

* *Syntax:*
```python
>>> bin(109)
'0b1101101'
```

<hr>

In [ ]:
 #try by changing any number
 
 num = 109  
 bin(num)

'0b1101101'

* **Other examples**

In [ ]:
bin(-12)

'-0b1100'



**oct(int_no)**

*This function takes an integer and returns the octal representation in a string format.*

<hr>

* *Syntax:*
```python
>>> oct(501676)
'0o1723654'
```

<hr>

In [ ]:
 #try by changing any number
 
 num = 501676  
 oct(num)

'0o1723654'

**hex(int_no)**

*This function takes an integer and returns the hexadecimal representation in a string format.*
<hr>

* *Syntax:*
```python
>>> hex(170447865)
'0xa28d3f9'
```

<hr>

In [ ]:
#try by changing any number

num = 170447865  
hex(num)

'0xa28d3f9'

####**chr( int )**
*  <i>**chr()** function is used to get a string representing of a character which points to a **Unicode code integer.**</i>
* <i>take **integer** as input and return **character string**</i>



![Master](https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/ASCII-Table-wide.svg/1313px-ASCII-Table-wide.svg.png)

In [ ]:
chr(97)

'a'

In [ ]:
chr(63)

'?'

In [ ]:
chr(10000)

'✐'

#####**Extra**

######**CREATE ASCII TABLE**

In [ ]:
#create ascii table

for i in range(0,128):
  print(i, bin(i), oct(i), hex(i), chr(i))

0 0b0 0o0 0x0  
1 0b1 0o1 0x1 
2 0b10 0o2 0x2 
3 0b11 0o3 0x3 
4 0b100 0o4 0x4 
5 0b101 0o5 0x5 
6 0b110 0o6 0x6 
7 0b111 0o7 0x7 
8 0b1000 0o10 0x8 
9 0b1001 0o11 0x9
10 0b1010 0o12 0xa

11 0b1011 0o13 0xb
12 0b1100 0o14 0xc
13 0b1101 0o15 0xd
14 0b1110 0o16 0xe 
15 0b1111 0o17 0xf 
16 0b10000 0o20 0x10 
17 0b10001 0o21 0x11 
18 0b10010 0o22 0x12 
19 0b10011 0o23 0x13 
20 0b10100 0o24 0x14 
21 0b10101 0o25 0x15 
22 0b10110 0o26 0x16 
23 0b10111 0o27 0x17 
24 0b11000 0o30 0x18 
25 0b11001 0o31 0x19 
26 0b11010 0o32 0x1a 
27 0b11011 0o33 0x1b 
28 0b11100 0o34 0x1c
29 0b11101 0o35 0x1d
30 0b11110 0o36 0x1e
31 0b11111 0o37 0x1f
32 0b100000 0o40 0x20
33 0b100001 0o41 0x21 !
34 0b100010 0o42 0x22 "
35 0b100011 0o43 0x23 #
36 0b100100 0o44 0x24 $
37 0b100101 0o45 0x25 %
38 0b100110 0o46 0x26 &
39 0b100111 0o47 0x27 '
40 0b101000 0o50 0x28 (
41 0b101001 0o51 0x29 )
42 0b101010 0o52 0x2a *
43 0b101011 0o53 0x2b +
44 0b101100 0o54 0x2c ,
45 0b101101 0o55 0x2d -
46 0b101110 0o56 0x2e .
47 0b101111 0o57 0x2f /
48 0b110000 0o60 0x30 0
49 0b110001 0o61 0x31 1
50 0b110010 0o62 0x32 2
51 0b110011 0o63 0x33 3
52 0b110100 0o64 0x34 4
53 0b110101 0o65 0x35 5
54 0b110110 0o66 0x36 6
55 0b110111 0o67 0x37 7
56 0b111000 0o70 0x38 8
57 0b111001 0o71 0x39 9
58 0b111010 0o72 0x3a :
59 0b111011 0o73 0x3b ;
60 0b111100 0o74 0x3c <
61 0b111101 0o75 0x3d =
62 0b111110 0o76 0x3e >
63 0b111111 0o77 0x3f ?
64 0b1000000 0o100 0x40 @
65 0b1000001 0o101 0x41 A
66 0b1000010 0o102 0x42 B
67 0b1000011 0o103 0x43 C
68 0b1000100 0o104 0x44 D
69 0b1000101 0o105 0x45 E
70 0b1000110 0o106 0x46 F
71 0b1000111 0o107 0x47 G
72 0b1001000 0o110 0x48 H
73 0b1001001 0o111 0x49 I
74 0b1001010 0o112 0x4a J
75 0b1001011 0o113 0x4b K
76 0b1001100 0o114 0x4c L
77 0b1001101 0o115 0x4d M
78 0b1001110 0o116 0x4e N
79 0b1001111 0o117 0x4f O
80 0b1010000 0o120 0x50 P
81 0b1010001 0o121 0x51 Q
82 0b1010010 0o122 0x52 R
83 0b1010011 0o123 0x53 S
84 0b1010100 0o124 0x54 T
85 0b1010101 0o125 0x55 U
86 0b1010110 0o126 0x56 V
87 0b1010111 0o127 0x57 W
88 0b1011000 0o130 0x58 X
89 0b1011001 0o131 0x59 Y
90 0b1011010 0o132 0x5a Z
91 0b1011011 0o133 0x5b [
92 0b1011100 0o134 0x5c \
93 0b1011101 0o135 0x5d ]
94 0b1011110 0o136 0x5e ^
95 0b1011111 0o137 0x5f _
96 0b1100000 0o140 0x60 `
97 0b1100001 0o141 0x61 a
98 0b1100010 0o142 0x62 b
99 0b1100011 0o143 0x63 c
100 0b1100100 0o144 0x64 d
101 0b1100101 0o145 0x65 e
102 0b1100110 0o146 0x66 f
103 0b1100111 0o147 0x67 g
104 0b1101000 0o150 0x68 h
105 0b1101001 0o151 0x69 i
106 0b1101010 0o152 0x6a j
107 0b1101011 0o153 0x6b k
108 0b1101100 0o154 0x6c l
109 0b1101101 0o155 0x6d m
110 0b1101110 0o156 0x6e n
111 0b1101111 0o157 0x6f o
112 0b1110000 0o160 0x70 p
113 0b1110001 0o161 0x71 q
114 0b1110010 0o162 0x72 r
115 0b1110011 0o163 0x73 s
116 0b1110100 0o164 0x74 t
117 0b1110101 0o165 0x75 u
118 0b1110110 0o166 0x76 v
119 0b1110111 0o167 0x77 w
120 0b1111000 0o170 0x78 x
121 0b1111001 0o171 0x79 y
122 0b1111010 0o172 0x7a z
123 0b1111011 0o173 0x7b {
124 0b1111100 0o174 0x7c |
125 0b1111101 0o175 0x7d }
126 0b1111110 0o176 0x7e ~
127 0b1111111 0o177 0x7f 

####**int()**

*The **int()** function will returns an integer object constructed from a float or string let say x, or return 0 if no argum ents are specified.*
<hr>

* *Syntax*
```python
int( value, base)
int (x, base=10)
# by default base value is 10
```

<hr>

In [ ]:
# bydefault returns zero

int()

0

#####**String to  int**

In [ ]:
num = '22'
int(num)

22



*   **By changing the base**

In [ ]:
# binary
num = '1011'
base = 2

print(int(num,base))

#octal representation
int(0b1011)

11

In [ ]:
#octal
num = '7421'
base = 8

print(int(num,base))

#octal representation
int(0o7421)

3857

3857

In [ ]:
#hexadecimal
num = 'A04E'
base = 16

print(int(num,base))

41038

In [ ]:
# try it yourself

num  =  input("Enter the number: ")
base =  int(input("Enter the base: ")) 
int(num,base)

Enter the number: 3421
Enter the base: 5

486

* **gives error**

In [ ]:
int('Hello') #gives error

ValueError: ignored

#####**Float to int**

In [ ]:
num = 3.14
int(3.14)

3

* **gives error**

In [ ]:
num = 3.14
base = 5

int(num,base) # gives error

TypeError: ignored

#####**int .bit_length()**

* *bit_length function gives no of digit present in binary form*
* *For example: <b>23</b> in binary is <b>(10111)<font size='1'>2</font></b> hence length is <b>5</b>.* 
 * *Syntax:*
```python
>>> (23).bit_length()
5
>>> 23 .bit_length()
5
>>> x = 23
>>> x.bit_length()
5
```

In [ ]:
# 1st method

(23).bit_length()

5

In [ ]:
#2nd method

23 .bit_length()

5

In [ ]:
# 3rd method

num = 23
num.bit_length()

5

* **other example**

In [ ]:
(-23).bit_length()

5

* **gives error**

In [ ]:
23.bit_length()  # because there is no space between integer and dot

SyntaxError: ignored

In [ ]:
23 .bit_length()  #correct above by adding space (same as 2nd method)

5

#####**int .from_bytes()**
* *Return the **integer** represented by the given **array of bytes**.*

* *Syntax:*

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i>int.from_bytes( bytes , byteorder , * , signed=False )</i>

---

|  Argument | Description  |
|---|---|
| bytes |   bytes-like object or an iterable producing bytes. |
|  byteorder | the byte order used to represent the integer. <li> If byteorder is <b>"big"</b>, the most significant byte is at the beginning of the byte array.</li><li> If byteorder is <b>"little"</b>, the most significant byte is at the end of the byte array. To request the native byte order of the host system, use sys.byteorder as the byte order value.</li>  |
|  signed |  indicates whether two’s complement is used to represent the integer when is set to <b>True</b> when MSB(most significant bit) of Most significant byte is 1.
 |

---
![image.png]()


* Example
```python
>>>int.from_bytes(b'\x00\x10', byteorder='big')
16
>>>int.from_bytes(b'\x00\x10', byteorder='little')
4096
>>>int.from_bytes(b'\xfc\x00', byteorder='big', signed=True)
 -1024
>>>int.from_bytes(b'\xfc\x00', byteorder='big', signed=False)
64512
>>>int.from_bytes([255, 0, 0], byteorder='big')
16711680
```
---

In [ ]:
print(int.from_bytes(b'\x00\xff', byteorder='little'))
int.from_bytes(b'\x00\xff', byteorder='big')

65280

255

In [ ]:
# using text

a = b'aa'
b = b'\x61\x61'
print(int.from_bytes(a, byteorder='little', signed=True))
int.from_bytes(b, byteorder='little', signed=False)

24929

24929

######**byteorder = 'big'**

In [ ]:
int.from_bytes(b'\x00\x10', byteorder='big')

16

In [ ]:
int.from_bytes(b'\x0f\x1a', byteorder='big')

3866

######**byteorder = 'little'**

In [ ]:
int.from_bytes(b'\x00\x10', byteorder='little')

4096

In [ ]:
int.from_bytes(b'\x0f\x1a', byteorder='little')

6671

######**signed = True**

In [ ]:
int.from_bytes(b'\x90\x10', byteorder='big' , signed=True)

-28656

In [ ]:
int.from_bytes(b'\x1f\x1a', byteorder='big', signed=True)

7962

In [ ]:
int.from_bytes(b'\x12\x80', byteorder='little' , signed=True)

-32750

In [ ]:
int.from_bytes(b'\x12\x70', byteorder='little' , signed=True)

28690

#####**int.to_bytes()**
* *Return an array of bytes representing an integer.*
* *Syntax:*

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i>int.to_bytes( length , byteorder , * , signed = False )</i>

---

|  Argument | Description  |
|---|---|
| length |   Takes no of bytes. An <b>OverflowError</b> is raised if the integer is not representable with the given number of bytes. |
|  byteorder | Used to represent the integer. <li> If byteorder is <b>"big"</b>, the most significant byte is at the beginning of the byte array.</li><li> If byteorder is <b>"little"</b>, the most significant byte is at the end of the byte array. To request the native byte order of the host system, use sys.byteorder as the byte order value.</li>  |
|  signed | Determines whether two’s complement is used to represent the integer. If signed is <b>False</b> and a negative integer is given, an <b>OverflowError</b> is raised. The default value for signed is False.
 |

---
* *Example:*
```python
>>> (1024).to_bytes(2, byteorder='big')
b'\x04\x00'
>>> (1024).to_bytes(10, byteorder='big')
b'\x00\x00\x00\x00\x00\x00\x00\x00\x04\x00'
>>> (-1024).to_bytes(10, byteorder='big', signed=True)
b'\xff\xff\xff\xff\xff\xff\xff\xff\xfc\x00'
x = 1000
>>> x.to_bytes((x.bit_length() + 7) // 8, byteorder='little')
b'\xe8\x03'
```

In [ ]:
(1024).to_bytes(2, byteorder='big')

b'\x04\x00'

In [ ]:
(1024).to_bytes(8, byteorder='big')

b'\x00\x00\x00\x00\x00\x00\x04\x00'

In [ ]:
(1024).to_bytes(2, byteorder='little')

b'\x00\x04'

In [ ]:
(-2022).to_bytes(2, byteorder='little' , signed = True)

b'\x1a\xf8'

In [ ]:
(-2022).to_bytes(2, byteorder='big' , signed = True)

b'\xf8\x1a'

* **gives error**

In [ ]:
(-2022).to_bytes(2, byteorder='little')  # signed is false and number is negative

OverflowError: ignored

In [ ]:
(69420).to_bytes(2, byteorder='big')    # overflow due to small byte length

OverflowError: ignored

* **other example**

In [ ]:
(-23).bit_length()

* **gives error**

#####**some exist function in integer**

1. **int .numerator**
 * *Here **numerator of every integer is same value** it is useful in **floating , fraction number** but still you can use this function in integer*

2. **int .denominator**
 * *Here **denominator of every integer is one** it is useful in **floating , fraction number** but still you can use this function in integer*

3. **int .conjugate()**
 * *Here **conjugate of every integer is same value** it is useful in **complex number** but still you can use this function in integer*

4. **int .real**
 * *Here **real number of every integer is same value** it is useful in **complex number** but still you can use this function in integer*

5. **int .imag**
 * *Here **imaginary number of every integer is zero** it is useful in **complex number** but still you can use this function in integer*

In [ ]:
# Numerator

print( 2 .numerator)
print( (-23).numerator)
x = 45
x.numerator

2
-23

45

In [ ]:
# Denominator
print( 2 .denominator)
print( (-23).denominator)
x = 45
x.denominator

1
1

1

In [ ]:
# Conjugate

print( 2 .conjugate() )
print( (-23).conjugate() )
x = 45
x.conjugate()

2
-23

45

In [ ]:
# Real

print( 2 .real )
print( (-23).real )
x = 45
x.real

2
-23

45

In [ ]:
# Imaginary

print( 2 .imag )
print( (-23).imag )
x = 45
x.imag

0
0

0

In [ ]:
22 .imag

0

In [ ]:
a = float('nan')
a!=a

True