<a href="https://colab.research.google.com/github/lokeshparab/Python-Notes/blob/main/Python_Basic_Datatypes_Interger.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**DATATYPES**


<ol type="1">

  <li><b>Numberic</b></li>

  <ol type="i">
  <li><b>Integer</b></li>
  <li><b>Complex Number</b></li>
  <li><b>Float</b></li>
  </ol>

  <li><b>Dictionary</b></li>

  <li><b>Boolean</b></li>

  <li><b>Set</b></li>

  <li><b>Sequence Type</b></li>

  <ol type="i">
  <li><b>Strings</b></li>
  <li><b>List</b></li>
  <li><b>Tuple</b></li>
  </ol>

</ol>


![alt text](https://media.geeksforgeeks.org/wp-content/uploads/20191023173512/Python-data-structure.jpg)

#**Numeric**

##**INTEGER (int)**

* *Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.*

* *For example: 1, 99 , -22 , 0*


###**type()**
This function return the datatype of object when you pass argument
<hr>

*Syntax:*
```python
type(69)              #return int
type(69.69)           #return float
type( [69,420] )      #return list
type( (69,420) )      #return tuple
```
<hr>

**See below example to see datatype of number**

In [ ]:
type(1)

int

In [ ]:
type(99)

int

In [ ]:
type(-22)

int

In [ ]:
type(0)

int

In [15]:
# writing integer inside curly brace '()' is also integer
print( (45) )

x =  (45)
print(x)

type( (45 ) )

45
45

int

###**Number System**
*In **python** integer can be also be represent in:*

<ol type="1">

  <li><b>Binary</b></li>

  <p><i>A number having <b>0b</b> as prefix with combination of 0 and 1 represent the <u>binary numbers</u></i></p>
<hr>
<ul type='circle'>
<li><i>Syntax:</i></li>

```python
>>> b=0b01101101
>>> b
109
>>> b=0B01101101
>>> b
109
>>> b=0b_0110_1101
>>> b
109
>>> b=0B_0110_1101
>>> b
109
```
</ul>
<hr>
  <li><b>Octal</b></li>

  <p><i>A number having <b>0o</b> or <b>0O</b> as prefix with combination of from 0 to 7  represents an <u>octal number</u></i></p>
<hr>
<ul type='circle'>
<li><i>Syntax:</i></li>

```python
>>> x=0o12
>>> x
10
>>> x=0O12
>>> x
10
>>> x=0o_0172_3654
>>> x
501676
>>> x=0O_0172_3654
>>> x
501676
```
</ul>
<hr>
  <li><b>Hexadecimal</b></li>

  <p><i>A number having <b>0x</b> or <b>0X</b> as prefix with combination of from 0 to 9 and then A-10 to F-15  represents an <u>hexadecimal number</u></i></p>
<hr>
<ul type='circle'>
<li><i>Syntax:</i></li>

```python
>>> x=0x12
>>> x
18
>>> x=0X12
>>> x
18
>>> x=0x_0A28_D3F9
>>> x
170447865
>>> x=0X_0A28_D3F9
>>> x
170447865
```
</ul>
<hr>
</ol>

**Check out below example**

In [ ]:
# Binary

b  = 0b01101101
B  = 0B01101101

b_  = 0b_0110_1101
B_  = 0B_0110_1101

print( b, B, b_ , B_ ) # return same output as "109"

x1 = type(b)
x2 = type(B)
x3 = type(b_)
x4 = type(B_)

print( x1, x2, x3, x4 ) # return same output as "<class 'int'>"

109 109 109 109
<class 'int'> <class 'int'> <class 'int'> <class 'int'>

In [ ]:
#Octal

o  = 0o01723654
O  = 0O01723654

o_  = 0o_0172_3654
O_  = 0O_0172_3654

print( o, O, o_ , O_ ) # return same output as "501676"

x1 = type(o)
x2 = type(O)
x3 = type(o_)
x4 = type(O_)

print( x1, x2, x3, x4 ) # return same output as "<class 'int'>"

501676 501676 501676 501676
<class 'int'> <class 'int'> <class 'int'> <class 'int'>

In [ ]:
#Hexadecimal

x  = 0x0A28D3F9
X  = 0X0A28D3F9

x_  = 0x_0A28_D3F9
X_  = 0X_0A28_D3F9

print( x, X, x_ , X_ ) # return same output as "170447865"

x1 = type(x)
x2 = type(X)
x3 = type(x_)
x4 = type(X_)

print( x1, x2, x3, x4 ) # return same output as "<class 'int'>"

170447865 170447865 170447865 170447865
<class 'int'> <class 'int'> <class 'int'> <class 'int'>

In [ ]:
x = 0x_00_01_1_111_00
x

17895680

In [ ]:
hex(17895680)

'0x1111100'

###**Inbuilt function**

####**bin(), oct(), hex() function**



* **bin(int_no)**

*This function takes an integer and returns the binary representation in a string format.*

---

* *Syntax:*
```python
>>> bin(109)
'0b1101101'
```

<hr>

In [ ]:
 #try by changing any number
 
 num = 109  
 bin(num)

'0b1101101'

* **Other examples**

In [25]:
bin(-12)

'-0b1100'



**oct(int_no)**

*This function takes an integer and returns the octal representation in a string format.*

<hr>

* *Syntax:*
```python
>>> oct(501676)
'0o1723654'
```

<hr>

In [ ]:
 #try by changing any number
 
 num = 501676  
 oct(num)

'0o1723654'

**hex(int_no)**

*This function takes an integer and returns the hexadecimal representation in a string format.*
<hr>

* *Syntax:*
```python
>>> hex(170447865)
'0xa28d3f9'
```

<hr>

In [ ]:
#try by changing any number

num = 170447865  
hex(num)

'0xa28d3f9'

####**int()**

*The **int()** function will returns an integer object constructed from a float or string let say x, or return 0 if no argum ents are specified.*
<hr>

* *Syntax*
```python
int( value, base)
int (x, base=10)
# by default base value is 10
```

<hr>

#####**String to  int**

In [1]:
num = '22'
int(num)

22



*   **By changing the base**

In [10]:
# binary
num = '1011'
base = 2

int(num,base)

11

In [12]:
#octal
num = '7421'
base = 8

int(num,base)

3857

In [11]:
#hexadecimal
num = 'A04E'
base = 16

int(num,base)

41038

In [ ]:
# try it yourself

num  =  int(input("Enter the number: "))
base =  int(input("Enter the base: ")) 
int(num,base)

* **gives error**

In [ ]:
int('Hello') #gives error

#####**Float to int**

In [13]:
num = 3.14
int(3.14)

3

* **gives error**

In [ ]:
num = 3.14
base = 5

int(num,base) # gives error

#####**int .bit_length()**

* *bit_length function gives no of digit present in binary form*
* <i>For example: **23** in binary is **(10111)<font size='1'>2</font>** hence length is **5**</i>

---
<ul type='circle'>
<li><i>Syntax:</i></li>

```python
>>> (23).bit_length()
5
>>> 23 .bit_length()
5
>>> x = 23
>>> x.bit_length()
5
```
</ul>

---

In [11]:
# 1st method

(23).bit_length()

5

In [18]:
#2nd method

23 .bit_length()

5

In [12]:
# 3rd method

num = 23
num.bit_length()

5

* **other example**

In [24]:
(-23).bit_length()

5

* **gives error**

In [ ]:
23.bit_length()  # because there is no space between integer and dot

In [20]:
23 .bit_length()  #correct above by adding space (same as 2nd method)

5

#####**int .bit_count()**
* *Return the **number of ones** in the binary representation of the absolute value of the integer.*

* <i>For example: **23** in binary is **(10111)<font size='1'>2</font>** &nbsp; has **4** ones.</i>

---

<ul type='circle'>
<li><i>Syntax:</i></li>

```python
>>> (23).bit_length()
5
>>> 23 .bit_length()
5
>>> x = 23
>>> x.bit_length()
5
```
</ul>

---

In [42]:
# 1st method

(23).bit_count()

AttributeError: ignored

In [43]:
#2nd method

23 .bit_count()

AttributeError: ignored

In [ ]:
# 3rd method

num = 23
num.bit_length()

5

* **other example**

In [ ]:
(-23).bit_length()

5

* **gives error**

In [ ]:
23.bit_length()  # because there is no space between integer and dot

In [ ]:
23 .bit_length()  #correct above by adding space (same as 2nd method)

5

#####**int .numerator**
*Here **numerator of every integer is same value** it is useful in **floating , fraction number** but still you can use this function in integer*

#####**int .denominator**
*Here **denominator of every integer is one** it is useful in **floating , fraction number** but still you can use this function in integer*

#####**int .conjugate()**
*Here conjugate of every **integer is same value** it is useful in **complex number** but still you can use this function in integer*

In [26]:
print( 2 .conjugate() )
print( (-23).conjugate() )
x = 45
x.conjugate()

2
-23

45

In [38]:
print( 2 .numerator)
print( (-23).numerator)
x = 45
x.numerator

2
-23

45

In [37]:
print( 2 .denominator)
print( (-23).denominator)
x = 45
x.denominator

1
1

1

In [45]:
print(dir(int))
"""'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes'"""

['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']

"'bit_length',\n 'conjugate',\n 'denominator',\n 'from_bytes',\n 'imag',\n 'numerator',\n 'real',\n 'to_bytes'"

##**FLOAT**

* *The **float** type in Python represents the floating point number. Float is used to represent real numbers and is written with a decimal point dividing the integer and fractional parts.*

* *For example &nbsp; 97.98, &nbsp; 32.3+e18, &nbsp; -32.54e100, &nbsp; 3.0* 

---
<ul type='circle'>
<li><i>Syntax</i></li>

```python
>>> 97.98
97.98

>>> 4.0
4.0

>>> -3.147
-3.1477

>>> 32.3e18
3.23e+19

>>> -32.5e100
-3.25e+101

>>> -32.5e-100
-3.25e-99
```
</ul>

---


###**type()**
This function return the datatype of object when you pass argument
<hr>
    
*Syntax:*
```python
type(69)              #return int
type(69.69)           #return float
type( [69,420] )      #return list
type( (69,420) )      #return tuple
```
<hr>

**See below example to see datatype of number**

In [23]:
type(97.98)

float

In [25]:
type(4.0)

float

In [30]:
type(-3.147)

float

In [29]:
#scientic notation

print(32.3e18)
type(32.3e18)

3.23e+19

float

In [31]:
#scientic notation

print(-32.5e100)
type(-32.5e100)

-3.25e+101

float

In [32]:
#scientic notation

print(-32.5e-100)
type(-32.5e-100)

-3.25e-99

float

In [34]:
# greater than 1.8 * 10^308
# will print 'inf'

print(1.82e308)
type(1.82e308)

inf

float

In [3]:
# lesser than -1.8 * 10^308
# will print '-inf'

print(-1.82e308)
type(1.82e308)

-inf