<a href="https://colab.research.google.com/github/lokeshparab/Python-Notes/blob/main/Python_Basic_Datatypes_Interger.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**DATATYPES**


<ol type="1">

  <li><b>Numberic</b></li>

  <ol type="i">
  <li><b><a href="https://colab.research.google.com/github/lokeshparab/Python-Notes/blob/main/Python_Basic_Datatypes_Interger.ipynb">Integer</a></b></li>
  <li><b>Complex Number</b></li>
  <li><b>Float</b></li>
  </ol>

  <li><b>Dictionary</b></li>

  <li><b>Boolean</b></li>

  <li><b>Set</b></li>

  <li><b>Sequence Type</b></li>

  <ol type="i">
  <li><b>Strings</b></li>
  <li><b>List</b></li>
  <li><b>Tuple</b></li>
  </ol>

</ol>


![alt text](https://media.geeksforgeeks.org/wp-content/uploads/20191023173512/Python-data-structure.jpg)

#**Numeric**

1. lll
 * wdwd
 * wdw

##**INTEGER (int)**

* *Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.*

* *For example: 1, 99 , -22 , 0*


###**type()**
This function return the datatype of object when you pass argument
<hr>

*Syntax:*
```python
type(69)              #return int
type(69.69)           #return float
type( [69,420] )      #return list
type( (69,420) )      #return tuple
```
<hr>

**See below example to see datatype of number**

In [ ]:
type(1)

int

In [ ]:
type(99)

int

In [ ]:
type(-22)

int

In [ ]:
type(0)

int

In [ ]:
# writing integer inside curly brace '()' is also integer
print( (45) )

x =  (45)
print(x)

type( (45 ) )

45
45

int

###**Number System**
*In **python** integer can be also be represent in:*

1. **Binary**

  *A number having <b>0b</b> as prefix with combination of 0 and 1 represent the <u>binary numbers</u>*

  * Syntax:
```python
>>> b=0b01101101
>>> b
109
>>> b=0B01101101
>>> b
109
>>> b=0b_0110_1101
>>> b
109
>>> b=0B_0110_1101
>>> b
109
```
---
2. Octal

  *A number having **0o** or **0O** as prefix with combination of from 0 to 7  represents an <u>octal number</u>*

  * Syntax:
```python
>>> x=0o12
>>> x
10
>>> x=0O12
>>> x
10
>>> x=0o_0172_3654
>>> x
501676
>>> x=0O_0172_3654
>>> x
501676
```
---
3. Hexadecimal</b></li>

  *A number having **0x** or **0X** as prefix with combination of from 0 to 9 and then A-10 to F-15  represents an <u>hexadecimal number</u>*
 * Syntax:</i></li>
```python
>>> x=0x12
>>> x
18
>>> x=0X12
>>> x
18
>>> x=0x_0A28_D3F9
>>> x
170447865
>>> x=0X_0A28_D3F9
>>> x
170447865
```
---
**Check out below example**

In [ ]:
# Binary

b  = 0b01101101
B  = 0B01101101

b_  = 0b_0110_1101
B_  = 0B_0110_1101

print( b, B, b_ , B_ ) # return same output as "109"

x1 = type(b)
x2 = type(B)
x3 = type(b_)
x4 = type(B_)

print( x1, x2, x3, x4 ) # return same output as "<class 'int'>"

109 109 109 109
<class 'int'> <class 'int'> <class 'int'> <class 'int'>

In [ ]:
#Octal

o  = 0o01723654
O  = 0O01723654

o_  = 0o_0172_3654
O_  = 0O_0172_3654

print( o, O, o_ , O_ ) # return same output as "501676"

x1 = type(o)
x2 = type(O)
x3 = type(o_)
x4 = type(O_)

print( x1, x2, x3, x4 ) # return same output as "<class 'int'>"

501676 501676 501676 501676
<class 'int'> <class 'int'> <class 'int'> <class 'int'>

In [ ]:
#Hexadecimal

x  = 0x0A28D3F9
X  = 0X0A28D3F9

x_  = 0x_0A28_D3F9
X_  = 0X_0A28_D3F9

print( x, X, x_ , X_ ) # return same output as "170447865"

x1 = type(x)
x2 = type(X)
x3 = type(x_)
x4 = type(X_)

print( x1, x2, x3, x4 ) # return same output as "<class 'int'>"

170447865 170447865 170447865 170447865
<class 'int'> <class 'int'> <class 'int'> <class 'int'>

In [ ]:
x = 0x_00_01_1_111_00
x

17895680

In [ ]:
hex(17895680)

'0x1111100'

###**Inbuilt function**

####**bin(), oct(), hex() function**



* **bin(int_no)**

*This function takes an integer and returns the binary representation in a string format.*

---

* *Syntax:*
```python
>>> bin(109)
'0b1101101'
```

<hr>

In [ ]:
 #try by changing any number
 
 num = 109  
 bin(num)

'0b1101101'

* **Other examples**

In [ ]:
bin(-12)

'-0b1100'



**oct(int_no)**

*This function takes an integer and returns the octal representation in a string format.*

<hr>

* *Syntax:*
```python
>>> oct(501676)
'0o1723654'
```

<hr>

In [ ]:
 #try by changing any number
 
 num = 501676  
 oct(num)

'0o1723654'

**hex(int_no)**

*This function takes an integer and returns the hexadecimal representation in a string format.*
<hr>

* *Syntax:*
```python
>>> hex(170447865)
'0xa28d3f9'
```

<hr>

In [ ]:
#try by changing any number

num = 170447865  
hex(num)

'0xa28d3f9'

####**int()**

*The **int()** function will returns an integer object constructed from a float or string let say x, or return 0 if no argum ents are specified.*
<hr>

* *Syntax*
```python
int( value, base)
int (x, base=10)
# by default base value is 10
```

<hr>

#####**String to  int**

In [ ]:
num = '22'
int(num)

22



*   **By changing the base**

In [ ]:
# binary
num = '1011'
base = 2

int(num,base)

11

In [ ]:
#octal
num = '7421'
base = 8

int(num,base)

3857

In [ ]:
#hexadecimal
num = 'A04E'
base = 16

int(num,base)

41038

In [ ]:
# try it yourself

num  =  int(input("Enter the number: "))
base =  int(input("Enter the base: ")) 
int(num,base)

* **gives error**

In [ ]:
int('Hello') #gives error

#####**Float to int**

In [ ]:
num = 3.14
int(3.14)

3

* **gives error**

In [ ]:
num = 3.14
base = 5

int(num,base) # gives error

#####**int .bit_length()**

* *bit_length function gives no of digit present in binary form*
* <i>For example: **23** in binary is **(10111)<font size='1'>2</font>** hence length is **5**</i>
 * Syntax:</i></li>
```python
>>> (23).bit_length()
5
>>> 23 .bit_length()
5
>>> x = 23
>>> x.bit_length()
5
```

In [ ]:
# 1st method

(23).bit_length()

5

In [ ]:
#2nd method

23 .bit_length()

5

In [ ]:
# 3rd method

num = 23
num.bit_length()

5

* **other example**

In [ ]:
(-23).bit_length()

5

* **gives error**

In [ ]:
23.bit_length()  # because there is no space between integer and dot

In [ ]:
23 .bit_length()  #correct above by adding space (same as 2nd method)

5

#####**int .from_bytes()**
* *Return the **integer** represented by the given **array of bytes**.*

* *Syntax:*

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; *int.from_bytes( bytes , byteorder , * , signed=False )*

---

|  Argument | Description  |
|---|---|
| bytes |   bytes-like object or an iterable producing bytes. |
|  byteorder | the byte order used to represent the integer. <li> If byteorder is <b>"big"</b>, the most significant byte is at the beginning of the byte array.</li><li> If byteorder is <b>"little"</b>, the most significant byte is at the end of the byte array. To request the native byte order of the host system, use sys.byteorder as the byte order value.</li>  |
|  signed |  indicates whether twoâ€™s complement is used to represent the integer when is set to <b>True</b> when MSB(most significant bit) of Most significant byte is 1.
 |

---
![image.png]()


* Example
```python
>>>int.from_bytes(b'\x00\x10', byteorder='big')
16
>>>int.from_bytes(b'\x00\x10', byteorder='little')
4096
>>>int.from_bytes(b'\xfc\x00', byteorder='big', signed=True)
 -1024
>>>int.from_bytes(b'\xfc\x00', byteorder='big', signed=False)
64512
>>>int.from_bytes([255, 0, 0], byteorder='big')
16711680
```
---

In [68]:
print(int.from_bytes(b'\x00\xff', byteorder='little'))
int.from_bytes(b'\x00\xff', byteorder='big')

65280

255

######**byteorder = 'big'**

In [44]:
int.from_bytes(b'\x00\x10', byteorder='big')

16

In [45]:
int.from_bytes(b'\x0f\x1a', byteorder='big')

3866

######**byteorder = 'little'**

In [47]:
int.from_bytes(b'\x00\x10', byteorder='little')

4096

In [46]:
int.from_bytes(b'\x0f\x1a', byteorder='little')

6671

######**signed = True**

In [55]:
int.from_bytes(b'\x90\x10', byteorder='big' , signed=True)

-28656

In [51]:
int.from_bytes(b'\x1f\x1a', byteorder='big', signed=True)

7962

In [63]:
int.from_bytes(b'\x12\x80', byteorder='little' , signed=True)

-32750

In [64]:
int.from_bytes(b'\x12\x70', byteorder='little' , signed=True)

28690

#####**int.to_bytes()**
* *Return an array of bytes representing an integer.*
* *Syntax:*

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; *int.to_bytes( length , byteorder , * , signed = False )*

---

|  Argument | Description  |
|---|---|
| length |   Takes no of bytes. An <b>OverflowError</b> is raised if the integer is not representable with the given number of bytes. |
|  byteorder | Used to represent the integer. <li> If byteorder is <b>"big"</b>, the most significant byte is at the beginning of the byte array.</li><li> If byteorder is <b>"little"</b>, the most significant byte is at the end of the byte array. To request the native byte order of the host system, use sys.byteorder as the byte order value.</li>  |
|  signed | Determines whether twoâ€™s complement is used to represent the integer. If signed is <b>False</b> and a negative integer is given, an <b>OverflowError</b> is raised. The default value for signed is False.
 |

---
* *Example:*
```python
>>> (1024).to_bytes(2, byteorder='big')
b'\x04\x00'
>>> (1024).to_bytes(10, byteorder='big')
b'\x00\x00\x00\x00\x00\x00\x00\x00\x04\x00'
>>> (-1024).to_bytes(10, byteorder='big', signed=True)
b'\xff\xff\xff\xff\xff\xff\xff\xff\xfc\x00'
x = 1000
>>> x.to_bytes((x.bit_length() + 7) // 8, byteorder='little')
b'\xe8\x03'
```

In [115]:
(1024).to_bytes(2, byteorder='big')

b'\x04\x00'

In [116]:
(1024).to_bytes(8, byteorder='big')

b'\x00\x00\x00\x00\x00\x00\x04\x00'

In [117]:
(1024).to_bytes(2, byteorder='little')

b'\x00\x04'

In [119]:
(-2022).to_bytes(2, byteorder='little' , signed = True)

b'\x1a\xf8'

In [120]:
(-2022).to_bytes(2, byteorder='big' , signed = True)

b'\xf8\x1a'

* **gives error**

In [118]:
(-2022).to_bytes(2, byteorder='little')  # signed is false and number is negative

OverflowError: ignored

In [69]:
(69420).to_bytes(2, byteorder='big')    # overflow due to small byte length

OverflowError: ignored

In [ ]:
a = b'aa'
b = b'\x61\x61'
print(int.from_bytes(a, byteorder='little', signed=True))
int.from_bytes(b, byteorder='little', signed=False)

24929

24929

In [ ]:
# 1st method

(23).bit_count()

AttributeError: ignored

In [ ]:
#2nd method

23 .bit_count()

AttributeError: ignored

In [ ]:
# 3rd method

num = 23
num.bit_length()

5

* **other example**

In [ ]:
(-23).bit_length()

5

* **gives error**

In [ ]:
23.bit_length()  # because there is no space between integer and dot

In [ ]:
23 .bit_length()  #correct above by adding space (same as 2nd method)

In [132]:
-22 .real

-22

#####**some exist function in integer**

1. **int .numerator**
 * *Here **numerator of every integer is same value** it is useful in **floating , fraction number** but still you can use this function in integer*

2. **int .denominator**
 * *Here **denominator of every integer is one** it is useful in **floating , fraction number** but still you can use this function in integer*

3. **int .conjugate()**
 * *Here **conjugate of every integer is same value** it is useful in **complex number** but still you can use this function in integer*

4. **int .real**
 * *Here **real number of every integer is same value** it is useful in **complex number** but still you can use this function in integer*

5. **int .imag**
 * *Here **imaginary number of every integer is same value** it is useful in **complex number** but still you can use this function in integer*

In [ ]:
# Numerator

print( 2 .numerator)
print( (-23).numerator)
x = 45
x.numerator

2
-23

45

In [ ]:
# Denominator
print( 2 .denominator)
print( (-23).denominator)
x = 45
x.denominator

1
1

1

In [ ]:
# Conjugate

print( 2 .conjugate() )
print( (-23).conjugate() )
x = 45
x.conjugate()

2
-23

45

In [135]:
# Real

print( 2 .real )
print( (-23).real )
x = 45
x.real

2
-23

45

In [136]:
# Imaginary

print( 2 .imag )
print( (-23).imag )
x = 45
x.imag

0
0

0

In [133]:
22 .imag

0

##**FLOAT**

* *The **float** type in Python represents the floating point number. Float is used to represent real numbers and is written with a decimal point dividing the integer and fractional parts.*
* *For example &nbsp; 97.98, &nbsp; 32.3+e18, &nbsp; -32.54e100, &nbsp; 3.0* 

* *Syntax:*
```python
>>> bin(109)
'0b1101101'
>>> 97.98
97.
```

* *Syntax*
```python
>>> 97.98
97.98

>>> 4.0
4.0

>>> -3.147
-3.1477

>>> 32.3e18
3.23e+19

>>> -32.5e100
-3.25e+101

>>> -32.5e-100
-3.25e-99
```

---


###**type()**
This function return the datatype of object when you pass argument
<hr>
    
*Syntax:*
```python
type(69)              #return int
type(69.69)           #return float
type( [69,420] )      #return list
type( (69,420) )      #return tuple
```
<hr>

**See below example to see datatype of number**

In [ ]:
type(97.98)

float

In [ ]:
type(4.0)

float

In [ ]:
type(-3.147)

float

In [ ]:
#scientic notation

print(32.3e18)
type(32.3e18)

3.23e+19

float

In [ ]:
#scientic notation

print(-32.5e100)
type(-32.5e100)

-3.25e+101

float

In [ ]:
#scientic notation

print(-32.5e-100)
type(-32.5e-100)

-3.25e-99

float

In [ ]:
# greater than 1.8 * 10^308
# will print 'inf'

print(1.82e308)
type(1.82e308)

inf

float

In [ ]:
# lesser than -1.8 * 10^308
# will print '-inf'

print(-1.82e308)
type(1.82e308)

-inf